.input-component {
  display: flex;
  flex-flow: column;
}

.input-component__textarea {
  background: white;
  border-radius: 25px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 16px 0 rgb(0 0 0 / 20%);
}

.input-component__input {
  height: 30px;
  background: #fff;
  outline: none;
  padding: 0 10px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 12px;
  font-style: italic;
  width: 100%;
  box-sizing: border-box;
}

.input-component__input:focus,
.input-component__input:focus {
  border: 1px solid blue;
}

.input-component__helper-text {
  color: red;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  text-align: justify;
  padding: 5px;
}

.input-component__label {
  text-align: left;
  padding-bottom: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  align-items: center;
  letter-spacing: 0.01em;
  color: gray;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
}
